@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Monofett|Montserrat:400,700');

html {
    font-family: "Montserrat";
}

body {
    background-color: whitesmoke;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Quattrocento', serif;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}

h3 {
    font-family: 'Quattrocento', serif;
}

.write-comment {
    border: 10px white;
    padding: 1rem;
    border-radius: 10px;
}

.write-comment h2 {
    font-size: 3rem;
    color: black;
    padding-left: 2rem;
}

.comment {
    background-color: white;

    border-radius: 10px;

    margin: 1rem;
    box-shadow: 0px 0px 3px #d580ff;

    color: black;


    display: flex;
    flex-wrap: wrap;

}

.comment>* {
    margin: .5rem;
}

.comment h3,
.comment-text {
    width: 100%;

}

.ID,
.date {
    background-color: #d580ff;
    margin: 0;
    padding: .5rem;

}

.ID {
    border-radius: 10px 0 0 0;
}

.date {
    border-radius: 0 0 10px 0;
}



.comment-text {

    color: black;
    background-color: white;

    border-radius: 10px;
    box-shadow: 0px 0px 3px #d580ff;

    padding: 1rem;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin: 1rem;
}

label:last-of-type {
    width: 100%;
}

label:first-of-type {
    width: 50%;
    display: flex;
}

label:first-of-type input {
    flex-grow: 1;
}

button[type="submit"] {
    background-color: #d580ff;
    color: black;
    font-size: 1.1rem;
    padding: .5rem;
    border: 3px solid #d580ff;
    border-radius: 5px;
    margin: .5rem;
}

button[type="submit"]:hover {

    background-color: #d580ff;
}

textarea,
input,
select {
    border: 2px solid #d580ff;
    border-radius: 5px;
}

textarea {
    display: block;
    width: 100%;
    height: 6rem;
    resize: vertical;
}